
$accent: #3A612D;
$highlight: #D2F0FA;
$brand: purple;
$base-font: Helvetica, "Trebuchet MS", Verdana, sans-serif;
//$title-font: "";
//$callout-font: "";

@mixin card($bg-color) { 
box-shadow: gray 3px 3px 8px;
  background-color: $bg-color;
}

article:first-of-type {
	@include card($highlight);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $brand;
  font-family: $base-font;
}

/* body div {
	border: 2px gray solid;
	.classname {
		
	}
 h2 {
	color: red;
}
} */

.cta-container {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.cta {
	@include card(#C0FABE)
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
  align-items: space-around;
  //box-shadow: gray 3px 3px 8px;
  //background-color: #C0FABE;
  margin: 1rem;
	
	img {
		max-width: 300px;
	
	}
	a {
		text-decoration: none;
		color: $brand;
	}
}

.cta a {
		text-decoration: none;
		color: black;
}

/* add class to html */

/*a.goth-link {
		color: #3A612D
}

a.goth-link:visited {
		color: #D2F0FA;
}

a.goth-link:unvisited {
		color: red;
}

a.goth-link:hover, a.goth-link:focus, a.goth-link:active {
		text-shadow: 3px 3px 5px grey;
} */

a.goth-link {
	color: $accent;
	&:vistied {
		color: $highlight;
	}
	&active:, &:focus, &:hover {
		text-shadow: 2px 2px 8px gray;
	}
}

.impact {
		text-align: center;
		font-weight: 700;
}

p.storybook::first-letter {
		font-size: 200%;
}

/* .highlight-background {
		background-color: 
} */

/* add class to html */

.cta img {
  max-width: 300px;
}

footer {
  background-color: #D2F0FA;
  padding: 1rem;
}

/*Submit button with text "Sign Up for Email List" should have rounded corners, background of "accent" color, and text color of white. */

input[type="submit"] {
		border-radius: .5rem;
		color: white;
		background-color: $brand;
		}