body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2D5461;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;;
}

.cta-container {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

	
}

.cta {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
  align-items: space-around;
  box-shadow: gray 3px 3px 8px;
  background-color: #C0FABE;
  margin: 1rem;
	
}

.cta a {
		text-decoration: none;
		color: black;
}

/* add class to html */

a.goth-link {
		color: #3A612D
}

a.goth-link:visited {
		color: #D2F0FA;
}

a.goth-link:unvisited {
		color: red;
}

a.goth-link:hover, a.goth-link:focus, a.goth-link:active {
		text-shadow: 3px 3px 5px grey;
}

.impact {
		text-align: center;
		font-weight: 700;
}

p.storybook::first-letter {
		font-size: 200%;
}

.highlight-background {
		background-color: 
}

/* add class to html */

.cta img {
  max-width: 300px;
}

footer {
  background-color: #D2F0FA;
  padding: 1rem;
}

/*Submit button with text "Sign Up for Email List" should have rounded corners, background of "accent" color, and text color of white. */

input[type="submit"] {
		border-radius: .5rem;
		color: white;
		background-color: #3a612d;
		}